@charset "UTF-8";
body {
    background-color: #BD96CA;
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: transparent;
    font-family: "Proza Libre", sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    -webkit-background-clip: text;
    background-image: linear-gradient(180deg, rgba(146,62,161,1) 25%, rgba(0,0,0,1) 100%);
     
    
}

h2 {
    color: transparent;
    font-family: "Proza Libre", sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    -webkit-background-clip: text;
    background-image: linear-gradient(180deg, rgba(146,62,161,1) 25%, rgba(0,0,0,1) 100%);
}

a {
    color: #900E0E;
    text-decoration: none;
}

nav a {
    color: #247F83;
    text-decoration: none;
}

.byline {
    color: rgba(0,0,255,0.5);
    font-size: 70%;
}

#page-copyright {
    color: #900E0E;
    text-transform: uppercase;
    letter-spacing: 3px;
}

section.bio p {
    text-indent: 3em;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: square;
}

.width-wrap {
    max-width: 1024px;
    margin: auto;
    margin-bottom: 3em;
    padding: 0 2em;
    border: 1px solid rgba(0,0,0,0.3);
    border-top: none;
    background-color: #CCCCEE;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

figure img {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

footer hr {
    width: 50vw;
    min-width: 300px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-top: 3px solid rgba(50,50,255,0.5);
    border-bottom: 8px dotted rgba(50,50,255,0.5);
    border-left: none;
    border-right: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}