@charset "UTF-8";
body {
    background-color: #BD96CA;
}

h1 {
    color: #441154;
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
}

h2 {
    color: #441154;
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
}

a {
    color: #900E0E;
}

nav a {
    color: #247F83;
}

.byline {
    color: rgba(0,0,255,0.5);
}

#page-copyright {
    color: #900E0E;
}